.contact  {
	font-family: 'Comfortaa', cursive;
	width: 35%;
	margin: 0 auto;
	
}
input { border-radius: 30px;}
textarea, button { border-radius: 8px;}
 hr {
	color: red;
	margin-top:-7px;
	width: 185px;
	 float: left;
}
td { padding-left: 50px;
padding-top: 50px;}
label {margin-bottom: 20px;}
button { padding: 13px;}
/*span {font-weight: bold; font-size: 24px; margin-left: -20px;}*/
/*.contact {
	font-family: 'Cinzel', serif;
}*/