body {
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 0px;
	overflow-x: hidden; 
}
.about {
	display: block;
	width: 50%;
	padding: 20px;
	margin: auto auto;
	text-align: left;
}
.about p {
	color: grey;
}
hr {
	margin-top: 0px;
	width: 150px;
	position: relative;
	left: 80px;
	border: 2px solid tomato;
}
.about img {
	float: left;
	margin: 15px 15px;
}
